// Variables

// Colors
$header-background: #FAFAFA;
$link-color: #ffd700;
$link-hover: #FA9200;
$link-background-color: #fff;
$para-color: grey;

// font-size
$link-font-size: 1.3em;

// Breakpoints
$break-s: 320px;
$break-m: 768px;
$break-l: 1024px;
